{% extends 'base.html' %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style_aysu.css' %}" />
<link rel="stylesheet" href="{% static 'css/responsive_aysu.css' %}" />    
{% endblock css %}
{% block title %} Agent{%endblock title %}

{% block main %}
<main>


    <!-- Breadcrumb -->
    <section class="breadcrumb">
        <div class="container">
            <div class="breadcrumb__title">Our Agent</div>
            <div class="breadcrumb__subtitle"><span class="main__link">Home / </span><span class="submain__link">Our
                    Agent</span></div>
        </div>
    </section>

    <!-- Our Agent -->
    <section class="agent__page">
        <div class="container">
            <div class="agent__intro">
                <div class="agent__title">Our Agent</div>
                <a href="#" class="see__all">See All</a>
            </div>
            <div class="agent__items">
                <div class="agent__item">
                    <div class="agent__item__image"><img src="../static/images/agent1.png" alt=""></div>
                    <div class="agent__item__title">Esther Howard</div>
                    <div class="agent__item__subtitle">Real Estate Broker</div>
                    <div class="agent__item__social">
                        <div class="agent__social__icon"><img src="../static/images/Icon - Facebook.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Ig.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Wa.svg" alt=""></div>
                    </div>
                </div>
                <div class="agent__item">
                    <div class="agent__item__image"><img src="../static/images/agent5.png" alt=""></div>
                    <div class="agent__item__title">Jane Cooper</div>
                    <div class="agent__item__subtitle">Real Estate Broker</div>
                    <div class="agent__item__social">
                        <div class="agent__social__icon"><img src="../static/images/Icon - Facebook.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Ig.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Wa.svg" alt=""></div>
                    </div>
                </div>
                <div class="agent__item">
                    <div class="agent__item__image"><img src="../static/images/agent6.png" alt=""></div>
                    <div class="agent__item__title">Ronald Richards</div>
                    <div class="agent__item__subtitle">Real Estate Broker</div>
                    <div class="agent__item__social">
                        <div class="agent__social__icon"><img src="../static/images/Icon - Facebook.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Ig.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Wa.svg" alt=""></div>
                    </div>
                </div>
                <div class="agent__item">
                    <div class="agent__item__image"><img src="../static/images/agent7.png" alt=""></div>
                    <div class="agent__item__title">Guy Hawkins</div>
                    <div class="agent__item__subtitle">Real Estate Broker</div>
                    <div class="agent__item__social">
                        <div class="agent__social__icon"><img src="../static/images/Icon - Facebook.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Ig.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Wa.svg" alt=""></div>
                    </div>
                </div>
                <div class="agent__item">
                    <div class="agent__item__image"><img src="../static/images/agent2.png" alt=""></div>
                    <div class="agent__item__title">Cameron Williamson</div>
                    <div class="agent__item__subtitle">Real Estate Broker</div>
                    <div class="agent__item__social">
                        <div class="agent__social__icon"><img src="../static/images/Icon - Facebook.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Ig.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Wa.svg" alt=""></div>
                    </div>
                </div>
                <div class="agent__item">
                    <div class="agent__item__image"><img src="../static/images/agent3.png" alt=""></div>
                    <div class="agent__item__title">Brooklyn Simmons</div>
                    <div class="agent__item__subtitle">Real Estate Broker</div>
                    <div class="agent__item__social">
                        <div class="agent__social__icon"><img src="../static/images/Icon - Facebook.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Ig.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Wa.svg" alt=""></div>
                    </div>
                </div>
                <div class="agent__item">
                    <div class="agent__item__image"><img src="../static/images/agent4.png" alt=""></div>
                    <div class="agent__item__title">Robert Fox</div>
                    <div class="agent__item__subtitle">Real Estate Broker</div>
                    <div class="agent__item__social">
                        <div class="agent__social__icon"><img src="../static/images/Icon - Facebook.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Ig.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Wa.svg" alt=""></div>
                    </div>
                </div>
                <div class="agent__item">
                    <div class="agent__item__image"><img src="../static/images/agent8.png" alt=""></div>
                    <div class="agent__item__title">Guy Hawkins</div>
                    <div class="agent__item__subtitle">Real Estate Broker</div>
                    <div class="agent__item__social">
                        <div class="agent__social__icon"><img src="../static/images/Icon - Facebook.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Ig.svg" alt=""></div>
                        <div class="agent__social__icon"><img src="../static/images/Icon - Wa.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>



{% endblock main %}