{% extends 'base.html' %}
{% load static %}
{% block title %} Log In{% endblock title %}

{% block main %}
<main>
  <div class="cover">
      <div class="container">

          <h1 class="covers_h1">Login</h1>
          <h4><span class="covers_span">Home/</span>Login</h4>
      </div>
  </div>
  <div class="container">
    <div class="signin-container">
      <h1>Sign In to your account</h1>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
      <form id="signinform">
          <textarea id="username" name="username" rows="1" placeholder="Email or Username" required></textarea>
          <textarea id="password" name="password" rows="1" placeholder="Password" required></textarea>
        <a href="#" class="forgotpassword">Forgot Password?</a>
        <button id="login-btn">Login</button>
      </form>
      <p class="signup-ink">
        Don't have an account? <a href="#">Create Account</a>
      </p>
    </div>
  </div>
</main>

{% endblock main %}
