{% extends 'base.html' %} {% load static %} {% block title %} Our
Portfolio{%endblock title %} {% block main %}
<main>
  <div class="cover">
    <div class="container">
      <h1 class="covers_h1">Our Portfolio</h1>
      <h4><span class="covers_span">Home/</span>Our Portfolio</h4>
    </div>
  </div>
  <div class="container">
    <div class="our_portfolio_image">
      <img src="./assets/port1.png" alt="" />
      <img src="./assets/port2.png" alt="" />
      <img src="./assets/port3.png" alt="" />
      <img src="./assets/port4.png" alt="" />
      <img src="./assets/port5.png" alt="" />
      <img src="./assets/port6.png" alt="" />
      <img src="./assets/port7.png" alt="" />
      <img src="./assets/port8.png" alt="" />
      <img src="./assets/port9.png" alt="" />
      <img src="./assets/port10.png" alt="" />
      <img src="./assets/port11.png" alt="" />
      <img src="./assets/port12.png" alt="" />
    </div>
    <div class="our_portfolio_btn">
      <button>Load More</button>
    </div>
  </div>
</main>
{% endblock main %}
