{% extends 'base.html' %}
{% load static %}
{% block title %} Register{% endblock title %}

{% block main %}
<main>
    <div class="cover">
        <div class="container">
    
            <h1 class="covers_h1">Register</h1>
            <h4><span class="covers_span">Home/</span>Register</h4>
        </div>
    </div>
    
    <div class="registeryour">
      <h1>Register your account</h1>
      <p class="description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
      <form class="register-form">
        <input type="text" placeholder="Last Name" required />
        <input type="email" placeholder="Email*" required />
        <input type="password" placeholder="Password*" required />
        <input type="password" placeholder="Confirm Password" required />
        <label class="checkbox-container">
          <input type="checkbox" required />
          <span>I agree to the terms and conditions</span>
        </label>
        <button id="creataccount">Creat account</button>
      </form>
      <p class="login-link">Already have an account? <a href="#">Login</a></p>
    </div>
  </main>

{% endblock main %}

