{% extends 'base.html' %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style_ayse.css' %}" />
<link rel="stylesheet" href="{% static 'css/responsive_ayse.css' %}" />    
{% endblock css %}
{% block title %} Service Details {%endblock title %}

{% block main %}
<main>
    <section class="main-content">
      <img src="house1.svg" alt="House" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id a enim,
        consectetur cursus. At mattis nulla in pretium. Condimentum sagittis
        mauris augue maecenas fusce commodo neque purus et. Integer eu amet
        at pretium id ultricies faucibus. In vestibulum pretium, potenti
        molestie.
      </p>
      <p>
        Ac, sit tincidunt commodo tincidunt. Mattis metus purus quam fames
        in vitae fringilla tempor. Non in sodales suspendisse egestas
        integer lacus semper ultrices. Lectus dui in pulvinar orci ut
        fermentum tortor mi, at. In adipiscing ac, consectetur lacus. Nec
        eu, augue integer augue accumsan ante. Ultricies libero condimentum
        amet, enim integer nascetur mollis cursus. Pellentesque tincidunt
        libero, in pharetra, nunc. Tincidunt egestas amet tincidunt
        consequat in sed arcu purus nunc.
      </p>
      <p>
        Nam elementum egestas et condimentum. Pulvinar aliquam nascetur
        maecenas risus vestibulum eu. Pellentesque non molestie cras nisl
        tristique pretium. Congue ac et neque vulputate et morbi gravida. Ut
        semper odio dui sollicitudin arcu. Est blandit cursus urna nulla.
        Montes, bibendum mauris dui sollicitudin est purus, hendrerit.
        Convallis in nunc, a commodo esuedim.
      </p>
      <div class="images">
        <img src="house2.svg" alt="House 1" />
        <img src="house3.svg" alt="House 2" />
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id a enim,
        consectetur cursus. At mattis nulla in pretium. Condimentum sagittis
        mauris augue maecenas fusce commodo neque purus et. Integer eu amet
        at pretium id ultricies faucibus. In vestibulum pretium, potenti
        molestie.
      </p>
    </section>
    <aside class="sidebar">
      <h2>Our Service</h2>
      <ul>
        <li>Home Buying</li>
        <li>Consulting Service</li>
        <li>Mortgage Service</li>
        <li>Home Selling</li>
        <li>Escrow Service</li>
      </ul>
    </aside>
 
</div>
</main>
{% endblock main %}