<!DOCTYPE html>
<html lang="en">
  <head>
       <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="servicesdetails.css">
    <link rel="stylesheet" href="responsive.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>


    <div class="servicesdetails-container">
      <div class="container">
        <div class="servicesdetails">
          <h2>Service Details</h2>
          <p>Home / Service Details</p>
        </div>
      </div>
    </div>
    <div class="container">
      <header>
        <h1>Property Management</h1>
  
      <main>
        <section class="main-content">
          <img src="house1.svg" alt="House" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id a enim,
            consectetur cursus. At mattis nulla in pretium. Condimentum sagittis
            mauris augue maecenas fusce commodo neque purus et. Integer eu amet
            at pretium id ultricies faucibus. In vestibulum pretium, potenti
            molestie.
          </p>
          <p>
            Ac, sit tincidunt commodo tincidunt. Mattis metus purus quam fames
            in vitae fringilla tempor. Non in sodales suspendisse egestas
            integer lacus semper ultrices. Lectus dui in pulvinar orci ut
            fermentum tortor mi, at. In adipiscing ac, consectetur lacus. Nec
            eu, augue integer augue accumsan ante. Ultricies libero condimentum
            amet, enim integer nascetur mollis cursus. Pellentesque tincidunt
            libero, in pharetra, nunc. Tincidunt egestas amet tincidunt
            consequat in sed arcu purus nunc.
          </p>
          <p>
            Nam elementum egestas et condimentum. Pulvinar aliquam nascetur
            maecenas risus vestibulum eu. Pellentesque non molestie cras nisl
            tristique pretium. Congue ac et neque vulputate et morbi gravida. Ut
            semper odio dui sollicitudin arcu. Est blandit cursus urna nulla.
            Montes, bibendum mauris dui sollicitudin est purus, hendrerit.
            Convallis in nunc, a commodo esuedim.
          </p>
          <div class="images">
            <img src="house2.svg" alt="House 1" />
            <img src="house3.svg" alt="House 2" />
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id a enim,
            consectetur cursus. At mattis nulla in pretium. Condimentum sagittis
            mauris augue maecenas fusce commodo neque purus et. Integer eu amet
            at pretium id ultricies faucibus. In vestibulum pretium, potenti
            molestie.
          </p>
        </section>
        <aside class="sidebar">
          <h2>Our Service</h2>
          <ul>
            <li>Home Buying</li>
            <li>Consulting Service</li>
            <li>Mortgage Service</li>
            <li>Home Selling</li>
            <li>Escrow Service</li>
          </ul>
        </aside>
     
    </div>
    </main>
 

    <script src="scripts.js"></script>
  </body>
</html>
