@media screen and (max-width: 600px) {
  /* Footer */

  .footer_present_img {
    display: none;
  }

  .footer_present {
    /* flex-direction: column; */
    display: block;
    padding: 35px 29px;
  }

  .footer_present_about svg {
    margin: 0;
  }

  .footer_about {
    display: block;
  }

  .footer_about_social_icon {
    padding-bottom: 32px;
  }

  .footer_present_about {
    width: 100%;
  }

  .footer_present_about p {
    padding: 20px 0px;
  }

  .footer_company_service {
    gap: 64px;
  }

  /* Navbar */
  .navbar_menu {
    display: none;
  }

  .navbar_registration a:nth-child(3),
  .navbar_registration a:nth-child(4) {
    display: none;
  }

  .navbar_buy_icon:nth-of-type(2) {
    display: block;
  }

  .navbar_buy_icon i {
    border-radius: 20px;
    background: #fff;
    box-shadow: -1px 1px 15px 0px rgba(9, 20, 49, 0.11);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Cover */
  .covers_h1 {
    font-size: 38px;
    line-height: normal;
  }

  .cover {
    padding: 40px;
  }

  /* Portfolio Details */
  .portfolio_details_section {
    display: block;
    padding: 0px !important;
    gap: 0px !important;
  }
  .portfolio_details_images {
    display: block;
  }

  .portfolio_details {
    width: 100%;
  }

  .portfolio_details_images img {
    width: 100%;
    object-fit: cover;
  }

  .portfolio_list {
    width: 100%;
  }

  /* .portfolio_details img {
    padding-top: 40px;
  } */

  /* About Us */
  .about_us_partners {
    display: block;
  }

  .about_us_partners_image {
    width: 100%;
  }

  .about_us_partners_about {
    width: 100%;
  }

  .about_us_our_service_cards {
    display: block;
    padding-bottom: 56px !important;
  }

  .about_us_our_service_card {
    width: 100%;
    margin-bottom: 32px;
  }

  .about_us_our_agent_info a,
  .about_us_featured_properties_info a {
    display: none;
  }

  .about_us_our_agent_cards,
  .about_us_featured_properties_cards,
  .about_us_featured_properties_cards {
    display: block;
  }

  .about_us_our_agent_card {
    width: 100%;
    object-fit: cover;
    margin-bottom: 40px;
  }

  .about_us_featured_properties_card {
    width: 100%;
  }

  /* Product Details */

  /* .product_detail_img img {
    width: 327px;
    height: 188px;
  } */
  .product_detail_container_about {
    width: 100%;
  }
  .product_detail_container {
    display: block;
  }

  .property_detail_types {
    row-gap: 12px;
  }

  .gallery_image_top,
  .gallery_image_bottom {
    display: block;
  }

  .amenties_checkbox_section {
    display: block;
  }

  .porudct_detail_relate .about_us_featured_properties_cards {
    display: block;
  }

  .porudct_detail_relate .about_us_featured_properties_card {
    width: 100%;
  }

  .product_detail_container_list {
    /* display: none; */
    width: 100%;
  }

  /* .gallery_image_top img:nth-last-of-type(0) {
    padding-bottom: 16px;
  } */

  /* Shop */

  .shop_page {
    display: block;
  }

  .shop_products,
  .shop_products
    .about_us_featured_properties_cards
    .about_us_featured_properties_card,
  .shop_filter {
    width: 100%;
  }

  /* Checkout */

  .checkout_section {
    padding-top: 38px;
  }
  .grid {
    display: block;
  }

  form input {
    width: 100%;
  }

  .checkout_payment {
    display: block;
    padding-bottom: 0;
  }

  .checkout_section {
    padding: 38px 24px;
  }

  .payment_payment_method,
  .payment_card_total {
    width: 100%;
    margin-bottom: 38px;
  }
}
