* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}

@font-face {
    font-family: 'Khmer MN';
    src: url('fonts/KhmerMN.ttf') format('truetype');
}

.container{
    padding: 10px 120px;
}

.covers_h1{    
    padding: 30px 0;
    color: var(--Greyscale-Grey-100, #38343D);
    font-family: Cardo;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
}

.covers_span{
    color: #9A9A9A;
}

/* About us */

.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;  
    padding: 40px 0px;  
}

.navbar span{
    color: var(--Main-Colors-Secondary, #DE8556);
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar a{
    color: var(--Greyscale-Grey-100, #38343D);
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar_menu{
    display: flex;
    gap: 64px;
}

.navbar_menu a{
    color: var(--Greyscale-Grey-100, #38343D);
    /* Body/Body 14 */
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about_navbar_registration{
    display: flex;
    gap: 24px;
    align-items: center;
}

.about_navbar_registration a{
    color: var(--Greyscale-Grey-100, #38343D);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar_buy_icon{
    border-radius: 20px;
    background: #FFF;
    box-shadow: -1px 1px 15px 0px rgba(9, 20, 49, 0.11);
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_navbar_registration button{
    border-radius: 2px;
    background: var(--Main-Colors-Secondary, #DE8556);
    display: inline-flex;
    padding: 12px 28px;
    align-items: flex-start;
    gap: 10px;
    
}

.about_cover{
    background: var(--Greyscale-Grey-10, #F6F6F6);
    height: 220px;
    flex-shrink: 0;
    padding: 30px 120px;
}


.about_us_partners{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}


.about_us_partners_image img {
    width: 300px;
    height: 380px;
    flex-shrink: 0;
    background-color: lightgray;
}

.about_us_partners_about {
    width: 50%;
    max-width: 600px;
    padding: 0 20px; 
    margin: auto;
}

.about_us_partners_about h2 {
    color: var(--Greyscale-Grey-100, #38343D);
    font-family: Cardo;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about_us_partners_about h5 {
    color: var(--Greyscale-Grey-80, #818181);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 20px;
}

.about_us_our_service{
    background: var(--Greyscale-Grey-10, #F6F6F6);
    flex-shrink: 0;
    padding: 30px 90px;
    text-align: center;
    background: var(--Greyscale-Grey-10, #F6F6F6);
}

.about_us_our_service h1{
    color: var(--Greyscale-Grey-100, #38343D);
    text-align: center;
    font-family: Cardo;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
}

.about_us_our_service_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 30px 10px;
    text-align: center;
    justify-content: center;
}

.about_us_our_service_card {
    width: 369px;
    height: 313px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:20px
    
    
}

.about_us_our_service_card_image {
    width: 50px;
    height: 50px;
    background-color: #F2DFD5; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px;
    align-self: center;
}

.about_us_our_service_card_image svg {
    width: 32px;
    height: 32px;
}

.about_us_our_agent{
    /* background-color: teal; */
    height: fit-content;
}

.about_us_our_agent_info,.about_us_featured_properties_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

.about_us_our_agent_info h2,.about_us_featured_properties_info h2{
    color: var(--Greyscale-Grey-100, #38343D);
    font-family: Cardo;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px; /* 112.5% */
}


.about_us_our_agent_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 150px;
}

.about_us_our_agent_card {
    width: 230px;
    height: 300px;
    flex-shrink: 0;
    border: 1px solid black;
    display: block;
    
}

.about_us_our_agent_card img {
    width: 100%;
    height: 300px;
}

.about_us_our_agent_person{
    width: 230px;
    text-align: center;
    padding: 10px 0px;
}

.about_us_our_agent_person h5{
    color: var(--Greyscale-Grey-100, #38343D);
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.about_us_our_agent_person h6{
    color: var(--Greyscale-Grey-100, #38343D);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about_us_our_agent_card_icon{
    width: 230px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}

.about_us_our_agent_card_icon svg{
    background-color:  #DE8556;
    width: 24.621px;
    height: 24.621px;
    flex-shrink: 0;
    border-radius: 50%;
}

